body {
  font-family: sans-serif;
  margin: 0;
  padding: 15px;
  background-color: #121214;
}
.wrap {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  display: grid;
  margin-top: 10%;
}

}
.links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.links ul li {
  margin: 14px 0;
}
.link {
  padding: 14px;
  display: block;
  background-color: #9466FF;
  text-align: center;
  text-decoration: none;
  border-radius: 84px;
  transition: ease all 0.3s;
  color: #FFF;
}
.link:hover {
  opacity: 0.9;
}
.card {
  padding: 10px;
  background-color: #FFF;
  border-radius: 4px;
}
.card h3 {
  margin: 0;
  color: #202024;
}
.card p {
  margin: 5px 0;
  font-size: 13px;
  color: #202024;
}
